/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .color{
    min-height: 100px;
    background-color: aqua;
} }

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .color{
    min-height: 100px;
    background-color: aqua;
}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .color{
    min-height: 100px;
    background-color: aqua;
}}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .color{
    min-height: 100px;
    background-color: aqua;
}}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .color{
    min-height: 100px;
    background-color: aqua;
}
}